@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrare orizzontalmente */
    align-items: center; /* Centrare verticalmente */
    min-height: 100vh; /* Altezza minima del viewport per centrare verticalmente */
    padding: 0;
    margin: 0;
}

.error {
    color: #fafafa;
    font-weight: 700;
}